$branding-font: 'Roboto Mono', monospace;
$branding-color: #2196F3;
$subtle-red: #c0392b;
$subtle-black: #212121;
$subtle-grey: #757575;
$subtle-white: #fafafa;
$subtle-yellow: #FFF176;

* {
  color: $subtle-black;
  transition: all 0.15s;
}

textarea, select, input, button { outline: none; }

textarea { resize: none; }

h1, h2, h3, h4, h5, h6, button {
  font-family: $branding-font;
  @apply font-semibold;
}

.subtext {
  color: $subtle-grey;
  font-weight: 400;
  margin-top: 2px;
  @apply text-sm;
}

.branding-font {
  font-family: $branding-font;
}

.container {
  margin: 24px;
  margin-top: 48px;
  max-width: 420px;
}

button {
  border: 2px solid $subtle-black;
  background: #ffffff;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0 4px 6px 0 rgba(#000000, 0.25);
  text-align: center;
  transform: translateY(-1px);
  cursor: pointer;
  &:hover {
    background: darken(#ffffff, 2);
    box-shadow: 0 4px 8px 0 rgba(#000000, 0.2);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 2px 2px 0 rgba(#000000, 0.15);
    transform: translateY(0px) scale(0.98);
    background: darken(#ffffff, 8);
  }
  &.not-important {
    color: $subtle-grey;
    border-color: $subtle-grey;
  }
  &.primary {
    color: $branding-color;
    border-color: $branding-color;
    svg path {
      color: $branding-color;
    }
  }
  &.danger {
    color: $subtle-red;
    border-color: $subtle-red;
    svg path {
      color: $subtle-red;
    }
  }
  &.small {
    font-size: 12px;
    padding: 4px 8px;
    height: 32px;
  }
  &.stealth {
    background: none;
    border: none;
    box-shadow: none;
    transform: none;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(#000000, 0.2);
      transform: translateY(-1px);
      background: rgba(#000000, 0.05);
    }
    &:active {
      box-shadow: inset 0 2px 2px 0 rgba(#000000, 0.05);
      transform: translateY(1px) scale(0.98);
      background: rgba(#000000, 0.1);
    }
  }
  &.is-toggled, &.is-active {
    background: lighten($subtle-black, 4);
    color: $subtle-white;
  }
  &.is-disabled {
    opacity: 0.15;
    pointer-events: none;
    cursor: unset;
  }
  &.block {
    width: 100%;
  }
}

.msg {
  @apply text-xs;
  padding: 8px;
  border-radius: 6px;
  background: $subtle-grey;
  font-family: $branding-font;
  color: $subtle-white;
  button {
    margin-top: 8px;
  }
  &.warning {
    background: $subtle-yellow;
    color: darken($subtle-yellow, 50);
  }
}

.bg {
  background:
    radial-gradient(circle at 0% 0%, rgba(#fbff00, 0.75), transparent),
    radial-gradient(circle at 0% 50%, rgba(#00ccff, 0.55), transparent),
    radial-gradient(circle at 100% 50%, rgba(#2bff00, 0.55), transparent),
    radial-gradient(circle at 50% 80%, transparent, rgba(#121212, 0.95));
  background-size: 300% 300%;
  transition: all 0.5s;
  &.pos-1 {
    background-position: left top;
  }
  &.pos-2 {
    background-position: center center;
  }
  &.pos-3 {
    background-position: right bottom;
  }
  &.pos-3 {
    background-position: left bottom;
  }
}

.app-region {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1dvh) * 100);
  // min-height: calc(100vh - 56px);
  .bg {
    flex: 1;
    min-height: 56px * 2;
  }
}

.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    min-width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(#fff, 0.65);
    font-family: $branding-font;
    svg {
      margin: 0 8px;
    }
    svg path {
      color: rgba(#fff, 0.65);
    }
  }
}

.top-bar-title {
  position: absolute;
  top: -56px;
  color: #000000;
  mix-blend-mode: overlay;
  flex-direction: column;
  opacity: 0.85;
  height: 56px;
  display: flex;
  width: calc(100% - 72px);
  overflow: hidden;
  justify-content: center;
  h4, h5 {
    margin: 0;
    margin-bottom: 2px;
  }
  h6 {
    margin: 0;
  }
}

.page-region {
  padding: 16px;
}

.fit-content {

}

.m-0 {
  margin: 0 !important;
}

.mt-32 {
  margin-top: 32px !important;
}
.mt-16 {
  margin-top: 16px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  &.input-lg {
    input {
      font-size: 20px;
    }
    span {
      font-size: 20px;
    }
  }
  &.input-flex {
    flex-direction: row;
    align-items: center;
    label {
      flex: 1 1 128px;
      margin-right: 12px;
    }
    input, .input-row {
      flex: 1 1 196px;
      width: 64px;
    }
  }
  label {
    font-family: $branding-font;
    font-weight: 500;
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: $subtle-grey;
  }
  input, textarea, select {
    border: none;
    border-bottom: 2px solid $subtle-black;
    background: $subtle-white;
    padding: 8px;
    border-radius: 6px 6px 0 0;
    &:focus {
      background: darken($subtle-white, 4);
    }
    &.is-disabled {
      color: $subtle-grey;
      pointer-events: none;
    }
  }
  select {
    height: 36px;
  }
  input {
    font-size: 16px;
  }
  span.help-text {
    display: flex;
    margin-top: 4px;
    font-family: $branding-font;
    justify-content: flex-end;
    color: $subtle-grey;
    @apply text-xs;
    &.left {
      justify-content: flex-start;
      border-left: 2px solid darken($subtle-white, 8);
      padding-left: 8px;
    }
  }
  .input-row {
    display: flex;
    input {
      margin: 0;
      margin-right: 4px;
    }
    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      &.left {
        margin-right: 0px;
        border-bottom: 2px solid $subtle-black;
        background: $subtle-white;
        border-top-left-radius: 6px;
        padding: 0 2px 0 8px;
        color: $subtle-grey;
        min-width: 28px;
        & + input {
          border-top-left-radius: 0;
        }
      }
    }
  }
}

.btn-inline {
  margin-right: -8px;
  margin-bottom: -8px;
  button {
    margin-right: 8px;
    margin-bottom: 4px;
  }
}

.btn-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  button {
    margin-right: 8px;
    margin-bottom: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
  .block {
    flex: 1;
  }
}
